
.backdrop-autorisation
  position fixed
  background rgba(0, 0, 0, 0.75)
  left 0
  right 0
  top 0
  bottom 0
  z-index 1
  display flex
  flex-direction column
  align-items center
  justify-content center
  .modal-autorisation
    display flex
    flex-direction column
    align-items center
    justify-content center
    z-index 3
    box-shadow 0 0 10px 5px orange
    min-height 200px
    min-width 300px
    color white
    .inp-autorisation
      margin 10px 0
      width 90%
    .checkbox
      width 90%
      display flex
      justify-content flex-start
      color white
    .autorisation-btn-block
      display flex
      justify-content center
      margin 10px
      .btn-autorisation
        margin 0 5px