

.btn-add-task {
    font-size: 22px;
    height: 32px;
    width: 150px;
    margin-top: 7px;
    background: darkgray;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.btn-add-task:hover {
    color: yellow;
    background: green;
    transition: 200ms;
}

.btn-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3px;
}