body {
  margin: 0;
  padding: 0;
}
body .app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("./images/background-app.jpg");
  background-size: 100%;
}
.header {
  width: 95%;
  height: 130px;
  margin: 10px;
  padding: 5px;
  box-shadow: 0 0 10px #fff;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.header h3 {
  margin: 30px 10px 0 10px;
  font-weight: bold;
  color: #ff4500;
  font-size: 50px;
}
.header h3:hover {
  cursor: pointer;
}
.header .user-login-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 5px 10px;
}
.header .user-login-details .user-exit {
  font-weight: bold;
  color: #f00;
}
.header .user-login-details .user-exit:hover {
  cursor: pointer;
}
.header .user-login-details .user-login {
  font-weight: bold;
  font-size: 20px;
  color: #7fff00;
}
.side-bar-container {
  position: absolute;
  left: -20px;
  top: 15px;
  z-index: 2;
}
.side-bar-container .side-bar {
  min-width: 190px;
  min-height: 350px;
  margin: 0 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0 0 10px #fff;
  border-radius: 3px;
  background: rgba(0,0,0,0.75);
  color: #ff4500;
}
.side-bar-container .side-bar .user-item {
  display: flex;
  justify-content: flex-start;
  margin: 3px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
}
.side-bar-container .side-bar .user-item:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5;
  box-shadow: 0 0 5px #ff8c00;
}
.side-bar-container .side-bar .user-item .div-ava {
  width: 25px;
  height: 25px;
  margin-right: 3px;
}
.side-bar-container .side-bar .user-item .div-ava .sidebar-avatar {
  width: 100%;
  height: 100%;
}
.content-container {
  display: flex;
  justify-content: flex-start;
  width: 95%;
  height: 100%;
  margin: 10px 20px;
  padding: 5px;
}
.content-container .content-rel {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 3px;
}
.content-container .content-rel .content-abs {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.content-container .content-rel .content-abs::-webkit-scrollbar {
  width: 0;
}
.content-container .content-rel .content-abs .new-post-item {
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: flex-start;
  position: relative;
}
.content-container .content-rel .content-abs .new-post-item .new-post {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-container .content-rel .content-abs .new-post-item .new-post .new-post-img-div {
  width: 710px;
  height: 390px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px #fff;
}
.content-container .content-rel .content-abs .new-post-item .new-post .new-post-img-div .new-post-img {
  width: 100%;
  height: 100%;
}
.content-container .content-rel .content-abs .new-post-item .new-post .new-post-info {
  text-align: justify;
  margin: 10px 0 0 0;
  padding: 5px;
  font-weight: bold;
  width: 710px;
  box-shadow: 0 0 10px #fff;
  background-color: rgba(0,0,0,0.75);
  border-radius: 3px;
}
.content-container .content-rel .content-abs .new-post-item .new-post .new-post-info .info-text {
  color: #fff;
}
.content-container .content-rel .content-abs .new-post-item .new-post .new-post-info .comments-operation {
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
}
.content-container .content-rel .content-abs .new-post-item .new-post .new-post-info .comments-operation span {
  color: #ff4500;
}
.content-container .content-rel .content-abs .new-post-item .new-post .new-post-info .comments-operation span:hover {
  cursor: pointer;
}
.content-container .content-rel .content-abs .new-post-item .added-comment {
  position: relative;
  margin: 10px;
  display: flex;
  width: 100%;
}
.content-container .content-rel .content-abs .new-post-item .added-comment .new-comment {
  margin: 0 5px 0 0;
}
.content-container .content-rel .content-abs .new-post-item .added-comment .btn-new-comment-block {
  display: flex;
  flex-direction: column;
}
.content-container .content-rel .content-abs .new-post-item .added-comment .btn-new-comment-block button {
  font-size: 12px;
  padding: 0;
  margin: 1px;
  width: 90px;
  height: 28px;
}
.content-container .content-rel .content-abs .new-post-item .added-comment .btn-new-comment-block span {
  position: absolute;
  right: -25px;
  top: -14px;
  color: #f00;
  font-weight: bold;
  font-size: 27px;
}
.content-container .content-rel .content-abs .new-post-item .added-comment .btn-new-comment-block span:hover {
  cursor: pointer;
}
.content-container .content-rel .content-abs .new-post-item .comments-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.comment {
  box-shadow: 0 0 10px #fff;
  padding: 5px;
  color: #ff0;
  width: 710px;
  background: rgba(0,0,0,0.75);
}
.comment .user-identificator {
  display: flex;
  justify-content: flex-start;
}
.comment .user-identificator .user-avatar {
  height: 30px;
  width: 30px;
  margin: 0 10px 5px 0;
}
.comment .btn-reply-block {
  display: flex;
  justify-content: flex-end;
  margin: 0 10px;
}
.comment .btn-reply-block span {
  margin: 0 10px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #008000;
}
.comment .btn-reply-block span:hover {
  cursor: pointer;
}
.comment-answers .answer {
  box-shadow: 0 0 10px #fff;
  width: 595px;
  margin: 10px 0 0 115px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5px;
  background: rgba(0,0,0,0.75);
}
.comment-answers .answer .author-indicator {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 3px;
}
.comment-answers .answer .author-indicator .author-avatar {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.comment-answers .answer .author-indicator .author-avatar img {
  width: 100%;
  height: 100%;
}
.comment-answers .answer .answer-content .address {
  color: #7fff00;
  margin-right: 3px;
}
.comment-answers .answer .btn-answer-block {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.comment-answers .answer .btn-answer-block button {
  margin-right: 10px;
}
.backdrop-autorisation {
  position: fixed;
  background: rgba(0,0,0,0.75);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.backdrop-autorisation .modal-autorisation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
  box-shadow: 0 0 10px 5px #ffa500;
  min-height: 200px;
  min-width: 300px;
  color: #fff;
}
.backdrop-autorisation .modal-autorisation .inp-autorisation {
  margin: 10px 0;
  width: 90%;
}
.backdrop-autorisation .modal-autorisation .checkbox {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  color: #fff;
}
.backdrop-autorisation .modal-autorisation .autorisation-btn-block {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.backdrop-autorisation .modal-autorisation .autorisation-btn-block .btn-autorisation {
  margin: 0 5px;
}
