

.status-filter {
    position: absolute;
    display: flex;
    right: 8px;
    top: 103px;
}

.btn-status-all {
    /*width: 35px;*/
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    margin-right: 5px;
}

.btn-status-all:hover {
    background: green;
    color: yellow;
    transition: 200ms;
}

.btn-status-all-active {
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    margin-right: 5px;
    background: green;
    color: yellow;
}

.btn-status-done {
    /*width: 72px;*/
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    margin-right: 5px;
}

.btn-status-done:hover {
    background: red;
    color: yellow;
    transition: 200ms;
}

.btn-status-done-active {
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    margin-right: 5px;
    background: red;
    color: yellow;
}

.btn-status-active {
    /*width: 54px;*/
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    margin-right: 5px;
}

.btn-status-active:hover {
    background: orange;
    color: black;
    transition: 200ms;
}

.btn-status-active-active {
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    margin-right: 5px;
    background: orange;
    color: black;
}